body{
	background-color: #757575;
	font-family: 'Roboto', sans-serif;
	margin: 0;
}
h1, h2, h3, h4, p, ol, ul, li, span{
	word-wrap: break-word;
}
h4{
	color: #757575;
	padding: 0 15px;
}
p{
	margin: 1.5em 0;
	font-size: 20px;
	line-height: 1.5;
}
a{
	text-decoration: none;
}
*, *:before, *:after{
	box-sizing: border-box;
}
/* structure */
nav .nav-pc{ 
	background: #E0E0E0;
	width: 15%;
	height: 100%;
	position: absolute;
	z-index: 1;
	min-height: 500px;
	display: block;
}
nav .nav-pc a{
	padding: 0 15px;
	display: block;
	line-height: 40px;
	text-decoration: none;
	color: #212121;
}
nav .nav-pc a:hover, nav .nav-pc .active{
	background-color: #BDBDBD;
}
nav .nav-pc a i, nav .nav-mobile a i{
	vertical-align: middle;
	color: #757575;
}
nav .nav-mobile{
	background: #E0E0E0;
	width: 100%;
	height: 7%;
	top: 93%;
	position: absolute;
	z-index: 1;
	justify-content: center;
	align-items: center;
	align-content: center;
	display: none;
}
nav .nav-mobile a{
	padding: 0 50px;
	text-decoration: none;
	color: #212121;
}
nav .nav-mobile a:hover i, nav .nav-mobile .active i{
	color: #424242;
	text-shadow: 1px 1px 1px #616161;
}

.page{
	width: 100%;
	height: 100%;
	position: absolute;
}
.tab-container{
	width: 100%;
	height: 5%;
	position: absolute;
	top: 0;
	margin: 0 auto;
}
.tab{
	position: absolute;
	left: 15%;
	top: 10%;
	height: 90%;
}
.tab .tri-btmright{
	float: left;
	width: 0;
	height: 0;
	border-bottom: 80px solid #212121;
	border-left: 80px solid transparent;
}
.tab .rectangle{
	float: left;
	width: 160px;
	height: 80px;
	background: #212121;
	color: #EEEEEE;
}
.tab .rectangle span{
	float: left;
	font-size: 0.8em;
	padding: 10px 5px;
}
.tab .rectangle a i{
	color: #EEEEEE;
	float: right;
	font-size: 1em;
	padding: 10px 0px;
}
.tab .tri-btmleft{
	float: left;
	width: 0;
	height: 0;
	border-bottom: 80px solid #212121;
	border-right: 80px solid transparent;
}
.container{
	width: 100%;
	height: 95%;
	position: absolute;
	top: 5%;
	margin: 0 auto;
	background-color: #212121;
	font-family: 'Inconsolata', monospace;
	color: #F5F5F5;
	overflow-y: auto;
}
.container::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #424242;
}
.container::-webkit-scrollbar
{
	width: 12px;
	background-color: #212121;
}
.container::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #757575;
}
.content{
	position: absolute;
	left: 15%;
	width: 85%;
	padding: 10% 5%;
}
.title{
	font-size: 40px;
	margin-bottom: 80px;
}

/* home */
#home p{
	line-height: normal;
	margin: 20px 0;
}
.intro{
	font-size: 50px;
	font-weight: bold;
}
.name{
	color: #FF5252;
	font-size: 2em;
}
.introsub{
	font-size: 40px;
	width: 15em;
	-webkit-animation: typing 3s steps(21, end),
    					blink-caret .5s step-end infinite alternate;
}
.introbtn{
	margin-top: 100px;
}
a.button{
	position:relative;
	color: #FF1744;
	font-weight: bold;
	letter-spacing: 2px;
	padding: 10px 30px;
	border: 2px #FF1744 solid;
  	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}
a.button::before{
	position:absolute;
	top:0;
    left:50%;
    right:50%;
    bottom:0;
    opacity:0;
    content:'';
	font-weight: normal;
	background-color: #FF1744;
	border-color: #FF1744;
	-webkit-transition: all 500ms ease;
    z-index:-2;
}
a.button:hover, a.button:focus{
	color: #FFFFFF;
	font-weight: normal;
}
a.button:hover::before, a.button:focus::before{
	left:0;
    right:0;
    opacity:1;
    -webkit-transition: all 500ms ease;
}

/* about */
#about .content, #project-sub .content{
	width: 75%;
	padding: 5%;
}
#about h1{
	color: #00B8D4;
	width: 2.5em;
	-webkit-animation: typing 1.5s steps(11, end),
    					blink-caret .5s step-end infinite alternate;
}
#about a{
	color: #84FFFF;
}
#about a:hover{
	border-bottom: 2px solid #84FFFF;
	padding-bottom: 2px;
    -webkit-transition: all 300ms ease;
}

/* projects */
#project .content{
	padding: 5%;
}
#project .title{
	margin-bottom: 50px;
}
#project h1{
	color: #00BFA5;
	width: 4.1em;
	-webkit-animation: typing 1.5s steps(11, end),
    					blink-caret .5s step-end infinite alternate;
}
.project-wrap
{
	margin: 0 auto;
	width: 100%;
}
.project-card
{
	position: relative;
	display: inline-block;
	background-color: #111111;
	background-size: cover;
	width: 100%;
	height: 400px;
	margin: 10px;
	color: #FFFFFF;
	transition: all 400ms ease-out;
	box-shadow: 0px 35px 77px -17px rgba(0,0,0,0.44);
}
.project-card img
{
	position: absolute;
	opacity: 0.5;
	height: 100%;
	width: 100%;
	transition: all 400ms ease-out;
}
.project-card-text
{
	overflow: hidden;
	position: absolute;
	padding: 40px;
	transition: all 400ms ease-out;
}
.project-card h2
{
	margin:0;
	font-size: 30px;
	font-weight: 300;
	text-shadow: 2px 2px 10px #000000;
}
.project-card h3
{
	line-height: 1.5;
	font-weight: 100;
	transform: translateX(200px);
}
.project-card p
{
	margin-top: 20px;
	line-height: 25px;
	transform: translateX(-200px);
	transition-delay: 300ms;
}
.project-card-animate-text
{
	opacity:0;
	transition: all 500ms ease-in-out;
}
.project-card-link{
	position: absolute;
	bottom: 40px;
	right: 40px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
}
.project-card-link a{
	padding-left: 15px;
	color: #00BFA5;
	text-decoration: none;
	opacity:0;
	transition: transform 0.4s ease-out, opacity 0.5s ease;
	transform: translateY(100px);
}
.project-card:hover
{
	color: #A7FFEB;
	cursor: default;
	box-shadow: 0px 35px 77px -17px rgba(0,0,0,0.64);
	transform:scale(1.05);
}
.project-card:hover img
{
	opacity: 0.2;
}
.project-card:hover .project-card-animate-text
{
	opacity:1;
	transform:translateX(0);
}
.project-card:hover h2{
	font-weight: bold;
	padding-bottom: 20px;
	border-bottom: 1px solid #004D40;
}
.project-card:hover p{
	color: #00BFA5;
}
.project-card:hover .project-card-link a{
	opacity:1;
	transform:translateY(0px);
}
.project-card:hover .project-card-link a:hover{
	color: #004D40;
}

/* project-sub */
#project-sub h1{
	color: #00BFA5;
}
#project-sub h1 span{
	font-size: 0.5em;
	font-weight: lighter;
	color: #00796B;
}
#project-sub h2{
	color: #26A69A;
	padding-bottom: 20px;
	border-bottom: 0.1px solid #004D40;
}
#project-sub h3{
	color: #4DB6AC;
}
#project-sub a{
	color: #A7FFEB;
}
#project-sub a:hover{
	border-bottom: 2px solid #A7FFEB;
	padding-bottom: 2px;
    -webkit-transition: all 300ms ease;
}
#project-sub video{
	width: 90%;
}
#project-sub img{
	width: 70%;
}
#project-sub ol, #project-sub ul{
	color: #4DB6AC;
	font-size: 20px;
	line-height: 1.5;
}
#project-sub ol{
	list-style-type: decimal;	
}
#project-sub ul{
	list-style-type: square;	
}
#project-sub li span{
	color: #FFFFFF;
	word-wrap: break-word;
}
#project-sub .tag{
	color: #FFFFFF;
	font-size: 0.7em;
	padding: 5px;
	border-radius: 4px;
}
#project-sub .tag1{
	background-color: #2E2F2F;
}
#project-sub .tag2{
	background-color: #469408;
}
#project-sub .tag3{
	background-color: #029ACF;
}
#project-sub .tag4{
	background-color: #D9230F;
}

/* contact */
#contact .content{
	height: 100%;
}
.center-align{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
}
#contact .mask-background{
	background: url('../img/contact_bg.jpg');
}
#contact .mask-text{
	font-size: 7em;
	font-weight: bold;
	position: relative;
	display: inline-block;
	padding: 0.5em 0;
	text-align: center;
	/* Color fallback */
	color: #fff;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
#contact .mask-text:before,
#contact .mask-text:after{
	position: absolute;
	content: '';
}
#contact .mask-text:before{
	z-index: -2;
	background-image: inherit;
}
#contact .mask-text:after{
	position: absolute;
	z-index: -1;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: #212121;
}
#contact .contact-link{
	padding: 1.5em 0;
	border-top: 0.1px solid #E65100;
}
#contact a{
	color: #FFB74D;
	font-size: 2em;
	padding: 10px 50px;
}
#contact a:hover{
	color: #FFCC80;
}

/* animation */	
.typing{
	border-right: .1em solid #F5F5F5;
	white-space: nowrap;
    overflow: hidden;
}
.fade{
	-webkit-animation: fade 2s 1 forwards;
}
@-webkit-keyframes typing { 
	from { width: 0; } 
}
@-webkit-keyframes blink-caret { 
	50% { border-color: transparent; } 
}
@-webkit-keyframes fade {
	0% {opacity:0;}
	20% {opacity:0;}
	80% {opacity:1;}
	100% {opacity:1;}
}

@media (max-width: 1030px) {
	/* structure */
	nav .nav-pc{
		display: none;
	}
	nav .nav-mobile{
		display: flex;
	}
	#home .content, 
	#about .content, 
	#project .content,
	#project-sub .content,
	#contact .content,
	.tab
	{
		width: 100%;
		left: 0%;
	}
	/* project-sub */
	#project-sub video, #project-sub img{
		width: 100%;
	}
	/* contact */
	#contact .mask-text{
		font-size: 6em;
	}
}

@media (max-width: 820px) {
	/* structure */
	#home .content, 
	#about .content, 
	#project .content,
	#project-sub .content,
	#contact .content{
		padding: 15% 5%;
	}
	/* home */
	.introsub{
		font-size: 30px;
	}
	/* projects */
	.project-card
	{
		height: 470px;
	}
	/* contact */
	#contact .mask-text{
		font-size: 5em;
	}
}

@media (max-width: 540px) {
	/* structure */
	#about .content, 
	#project .content,
	#project-sub .content,
	#contact .content，
	#home .content{
		padding: 15% 7%;
	}
	nav .nav-mobile a{
		padding: 0px 30px;
	}
	/* home */
	#home p{
		margin: 40px 0;
	}
	.intro{
		font-size: 30px;
	}
	.introsub{
		font-size: 20px;
	}
	/* about */
	#about h1{
		width: 3em;
	}
	/* projects */
	#project h1{
		width: 4.5em;
	}
	.project-card
	{
		margin: 10px 0;
		color: #A7FFEB;
		background-color: #151515;
		box-shadow: 0px 35px 77px -17px rgba(0,0,0,0.64);
	}	
	.project-card-text
	{
		padding: 40px 20px;
	}
	.project-card h2
	{
		font-size: 20px;
		font-weight: bold;
		padding-bottom: 20px;
		border-bottom: 1px solid #004D40;
		text-shadow: 2px 2px 10px #000000;
	}
	.project-card h3
	{
		font-size: 15px;
		margin-top: 20px;
	}
	.project-card p
	{		
		font-size: 15px;
		color: #00BFA5;
		margin-top: 20px;
	}
	.project-card img, .project-card:hover img
	{
		opacity: 0;
	}
	.project-card .project-card-animate-text
	{
		opacity:1;
		transform:translateX(0);
	}
	.project-card-link{
		bottom: 20px;
		right: 20px;
	}
	.project-card-link a{
		opacity: 1;
		transform: translateY(0px);
	}
	/* contact */
	#contact .mask-text{
		font-size: 4em;
	}
	#contact a{
		font-size: 1.8em;
		padding: 10px 30px;
	}
}


@media (max-width: 360px) {
	/* structure */
	#home .content, 
	#about .content, 
	#project .content,
	#project-sub .content,
	#contact .content{
		padding: 15% 5%;
	}
	nav .nav-mobile a{
		padding: 0px 20px;
	}
	/* home */
	.intro{
		font-size: 25px;
	}
	.introsub{
		font-size: 15px;
	}
	/* projects */
	.project-card{
		height: 510px;
	}
	/* contact */
	#contact .mask-text{
		font-size: 3.5em;
	}
	#contact a{
		font-size: 1.5em;
		padding: 10px 20px;
	}
}